﻿@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="umb-grid">
    <div class="grid-section">
        <div class="light">
            <div class="container">
                @Html.Action("Detail", "Course")
                @Html.Action("ApplyForm", "Course")                
            </div>
        </div>
    </div>
</div>